* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif, 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}

/* ========= navbar ========== */

#menu-bar {
    width: 50px;
    height: 10px;
    margin: 50px 10px 10px 20px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

.bar {
    background: tomato;
    border-radius: 10%;
    transition: 4s;
}

#bar1 {
    width: 40px;
    height: 10px;
    transform: translateY(-4px);
}

#bar2 {
    width: 40px;
    height: 10px;
}

#bar3 {
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}

.change .bar {
    background: white;
}

.change#bar1 {
    transform: translateY(6px);
    rotate: z(45deg);
}

.change#bar3 {
    transform: translateY(-15px);
    rotate: z(-45deg);
}

.change#bar2 {
    opacity: 0;
}

.nav li a {
    text-decoration: none;
    color: rgb(32, 105, 230);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav li a:hover {
    color: white;
    background: tomato;
    padding-left: 10px;
}

.nav li {
    margin: 20px 10px 10px 20px;
    padding-top: 10px;
    list-style-type: none;
}

.nav {
    display: none;
}

.change-btn {
    display: block;
}

/* ========== header nav========= */

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/images/waterfall.jpg') center/cover no-repeat fixed;
    margin-top: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    font-size: 50px;
    font-family: 'Baloo Chettan 2', cursive;
}

.hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: tomato;
    color: white;
    cursor: pointer;
    border: 2px solid tomato;
    margin-top: 10px;
}

.hero-button:hover {
    background: white;
    color: tomato;
    border: none;
}

.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
    color: #000;
}

@keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

/* ============ about us =========== */

.title-text {
    font-size: 40px;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}

#about {
    padding: 40px;
}

.about {
    margin: 30px 0;
    display: flex;
}

.about-icon .fas {
    font-size: 60px;
    color: tomato;
    margin-right: 20px;
}

.about-subtitle {
    text-transform: capitalize;
    color: tomato;
    font-size: 25px;
}

.about-info {
    margin-top: 10px;
    line-height: 1.5;
}

.about-icon:hover .fas, .about-subtitle:hover {
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: rgb(248, 145, 126);
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .about-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about {
        flex: 0 0 calc(50% - 16px);
    }
}

@media screen and (min-width: 972px) {
    .about {
        flex: 0 0 calc(33.3% - 16px);
    }
}

/* ========= menu section ========= */

.menu-image {
    min-height: 80vh;
    background: url('images/currytomato.jpg')center/cover fixed no-repeat;
}

.menu-text {
    min-height: 80vh;
    align-items: center;
    background: tomato;
    columns: black;
    padding: 40px 0;
}

.menu-text-center {
    width: 90%;
    margin: 0 auto;
}

.menu-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu-text p {
    margin: 20px 0;
    line-height: 2;
}

.menu-text a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: white;
    border: 2px solid #000;
    cursor: pointer;
}

.menu-text a:hover {
    color: tomato;
    background-color: white;
    border: none;
}

@media screen and (min-width: 776px) {
    .menu {
        display: flex;
    }
    .menu-text {
        flex: 0 0 30%;
    }
    .menu-image {
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    }
    .menu {
        background: tomato;
    }
}

/* ============= social icons ============ */

#social-icons {
    height: 150px;
    background: white;
    text-align: center;
    padding: 50px 0 50px 0;
}

#social-icons a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 1s ease, color 2s ease;
}

#social-icons a:hover {
    transform: translateY(-20px);
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #38a1f3;
}

.fa-instagram {
    color: #e1306c;
}

.fa-google-plus {
    color: #db4a39;
}

/* =========== numbers ============ */

.number {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('images/cheery.jpg')center/cover no-repeat fixed;
    padding: 60px 0;
    color: white;
}

.number p {
    font-size: 30px;
    font-weight: bold;
}

.number:hover {
    color: rgb(246, 94, 67);
}

.number .fas {
    font-size: 60px;
    margin: 20px 0;
}

.number h3 {
    text-transform: uppercase;
}

@media screen and (min-width: 576px) {
    #numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    #numbers {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ========== cards =============== */

#food {
    padding: 20px;
}

.food-container {
    max-width: 90vw;
    margin: 0 auto;
}

.food-card {
    position: relative;
    background: linear-gradient(rgba(240, 237, 234, 0.7), rgba(223, 220, 217, 0.7));
    margin: 20px 0;
    color: black;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    box-shadow: 2px 3px 6px gray;
}

#food img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: black;
    transition: opacity 4s;
}

.img-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.food-card:hover img {
    opacity: 0.4;
    transform: scale(1.3);
}

.food-card:hover .img-text, .food-card:hover .img-footer {
    opacity: 1;
}

.food-btn {
    display: inline-block;
    background: black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: white;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease in out;
    font-size: 18px;
    outline: none;
}

.food-btn:hover {
    color: tomato;
    background: white;
    border: black;
}

.fas {
    font-size: 30px;
}

@media screen and (min-width: 576px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}

@media screen and (min-width: 992px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
    }
}

/* ============ gallery =========== */

#gallery {
    padding: 40px;
    background: #FFFFFF;
}

.gallery-item {
    background: linear-gradient(rgb(189, 187, 185), rgb(172, 171, 170));
}

.gallery-item img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease;
}

.gallery-item img:hover {
    opacity: 0.5;
}

@media screen and (min-width: 576px) {
    #gallery-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    #gallery-center {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ============= footer ================= */

.footer {
    background: black;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}